@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.fade {
    animation: fade .5s ease-in-out forwards;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.show {
    animation: show 0.5s ease-in-out forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hide {
    animation: hide 0.5s ease-in-out forwards;
    opacity: 0;
    /* Fades out */
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rainbowCycle {
    0% {
        color: var(--rainbow_1);
    }

    20% {
        color: var(--rainbow_2);
    }

    40% {
        color: var(--rainbow_3);
    }

    60% {
        color: var(--rainbow_4);
    }

    80% {
        color: var(--rainbow_5);
    }

    90% {
        color: var(--rainbow_6);
    }

    100% {
        color: var(--rainbow_1);
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.loader {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, var(--main) 94%, #0000) top/6px 6px no-repeat,
        conic-gradient(#0000 30%, var(--main));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}
@keyframes verticalSlide {
    0% {
        transform: translateY(-80%);
        opacity: 0
    }

    30% {
        transform: translateY(-5%);
        opacity: 1
    }

    70% {
        transform: translateY(5%);
        opacity: 1
    }

    to {
        transform: translateY(80%);
        opacity: 0
    }
}

.animate-verticalSlide {
    animation: verticalSlide 2s linear infinite
}