/* #region Main */
:root {
    --bg: #09090b;
    --fg: #e3e3e3;

    --main: #0052FF;
    --dark: #003cbc;
    --light: #6A8BFF;
    --slate: #222222;
    --slate_light: #555;

    --coinbase_main: #0052FF;
    --coinbase_dark: #003cbc;
    --coinbase_light: #6A8BFF;
    
    --rainbow_1: #D058C1;
    --rainbow_1_dark: #9d3b90;
    --rainbow_1_light: #f6a3e8;
    --rainbow_2: #9D6DEE;
    --rainbow_2_dark: #6f4fc1;
    --rainbow_2_light: #c9b3ff;
    --rainbow_3: #44C28D;
    --rainbow_3_dark: #2e7a5f;
    --rainbow_3_light: #7ee0b6;
    --rainbow_4: #E66020;
    --rainbow_4_dark: #b94c1a;
    --rainbow_4_light: #ff8e4b;
    --rainbow_5: #E9B300;
    --rainbow_5_dark: #c18a00;
    --rainbow_5_light: #ffdc66;
    --rainbow_6: #3773F5;
    --rainbow_6_dark: #2a5cb8;
    --rainbow_6_light: #7fa9ff;

    --surface-1: #101012;
    --surface-2: #27272a;
    --surface-3: #52525b;

    --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
    --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    background: black;
    height: 100vh;
    overflow-x: hidden;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000000ba;
    backdrop-filter: blur(5px);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    animation: fadedown 1s ease-in-out;
}
.hamburger_menu {
    display: none;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    margin: 10px auto 10px auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    pointer-events: none;
    user-select: none;
    transition: 0.05s ease-in-out;
}
p {
    color: #888888;
    pointer-events: none;
    user-select: none;
    transition: 0.05s ease-in-out;
}
.subtext {
    margin: 0px 0px 20px 0px;
    font-size: small;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    white-space: nowrap;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
li:hover {
    cursor: pointer;
    color: var(--main);
}
nav ul li:hover {
    cursor: pointer;
}
nav ul li:hover a {
    color: var(--main);
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    margin: auto;
    width: 80%;
}
#main_section {
    min-height: 100vh;
}
input {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: large;
    border: 1px solid var(--slate_light);;
    border-radius: 5px;
    text-align: end;
    height: 1rem;
    padding: 10px 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}
/**/
    /* #region Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #222222;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--slate_light);
        border-radius: 10px;
        border: 2px solid #222222;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #888888;
    }
    /* #endregion Scrollbar */
/**/
/* #endregion Main */
/**/
/* #region Containers */
.container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background: transparent;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
}
#home_container {
    width: 30%;
    transition: 0.25s ease-in-out;
}
.no_tokens {
    min-height: 100px;
    justify-content: center;
}
/* #endregion Containers */
/**/
/* #region Button */
button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: white;
    padding: 10px;
    background-color: var(--main);
    border: none;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: large;
    transition: 0.25s;
    white-space: nowrap;
}
button:hover,
button:focus {
    color: #fff;
    cursor: pointer;
}
.pulse {
    --color: var(--main);
    --hover: var(--light);
}
.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}
.pulse:active {
    animation: none;
}
.pulse:hover::after {
    animation: none;
}
.close:hover,
.close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}
#connect_button {
    margin-left: auto;
    min-width: 135px;
    max-height: 40px;
    min-height: 40px;
    align-items: flex-end;
}
#process_button {
    margin: 0px auto;
    width: 100%;
}
#process_button img {
    width: 32px;
    height: 32px;
}
#start_button {
    background-color: var(--slate);
    margin-top: 10vh;
    width: 100%;
    height: 50px;
}
/* #endregion Button */
/**/
/* #region Toggle */
.option {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.toggle {
    transition: 0.25s;   
}
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 4rem;
    height: 2rem;
    background: var(--slate);
    display: block;
    border-radius: 100px;
    position: relative;
}
label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 100rem;
    transition: 0.3s;
}
input:checked+label {
    background: var(--main);
}
input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
label:active:after {
    width: 2rem;
}
/* #endregion Toggle */
/**/
/* #region Table */
#tokens {
    max-height: calc(3rem * 7);
    border: 1px solid var(--slate_light);;
    border-radius: 10px;
    background-color: black;
    width: 80%;
}
.tokens_mask {
    overflow-y: auto;
    width: 100%;
    mask-image: linear-gradient(to top, #00000000 0%, #00000000 5%, #ffffff 20%, #ffffff 100%);
}
#tokens_table {
    width: 100%;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
#tokens_table th {
    padding: 10px;
    background-color: black;
    text-align: center;
    user-select: none;
}
#tokens_table td {
    padding: 10px;
    text-align: center;
}
.link {
    color: var(--main);
    cursor: pointer;
}
.link:hover {
    color: var(--light);
}
.token_logo, .default_logo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
}
.default_logo {
    color: var(--dark);
}
tr {
    transition: box-shadow 0.25s ease-in-out;
}
.under_threshold {
    box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.8); /* Inner red glow */
    border-radius: 4px;
    transition: box-shadow 0.25s ease-in-out;
}
.table_sort_title:not(#header_logo, #header_contract):hover {
    cursor: pointer;
    color: var(--light);
}
.loader_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    background-color: var(--dark);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.25s;
}
.page_button {
    width: 50%;
    height: 46px;
    border-radius: 10px;
}
.left_page_selected {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-top-right-radius: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.right_page_selected {
    width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.left_page_selected:hover {
    cursor: default;
}
.right_page_selected:hover {
    cursor: default;
}
.page_unselected {
    background-color: var(--dark);
}
.page_unselected:hover {
    background-color: var(--light);
    color: var(--dark);
}
.pages:has(.page_unselected:hover) {
    background-color: var(--light);
}
.premium_mask {
    width: 100%;
}
#premium_container {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.premium {
    margin-top: 10px;
    width: 100%;
}
.premium_img {
    width: 2rem;
    height: 2rem;
    margin: auto 10px;
}
.premium_logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
}
.premium_button {
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.premium_button:hover {
    transition: 1s ease-in-out;
    background: linear-gradient(to bottom, var(--main) 5%, black 5%);
}
#refresh_tokens {
    font-size: medium;
    padding: 4px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
}
#tokens_button:not(.page_unselected) #refresh_tokens:hover {
    cursor: pointer;
    color: var(--main);
    background-color: white;
}
#more_options_container {
    width: 90%;
    height: 90px;
}
.option_toggle {
    color: var(--slate_light);
}
.option_toggle:hover {
    cursor: pointer;
    color: white;
}
#slippage_input, #deadline_input {
    width: 30%;
}
/* #endregion Table */
/**/
/* #region About */
.about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.about_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 7.5vw;
    margin: 20px 10px 20px 10px;
}
.about_item {
    height: 200px;
    margin: auto;
    justify-content: center;
}
.about_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.about_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.card {
    position: relative;
    overflow: hidden;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "card";
    place-items: center;
    border: 1px solid var(--surface-2);
    isolation: isolate;
    transition: border-color 200ms var(--ease-out);
    user-select: none;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: radial-gradient(circle at bottom left,
                transparent 55%,
                var(--surface-1));
        pointer-events: none;
        box-shadow: var(--bg) -0.5cqi 0.5cqi 2.5cqi inset;
        transition: opacity 900ms var(--ease-out);
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        aspect-ratio: 1;
        background: radial-gradient(circle, var(--bg), transparent 65%);
        opacity: 0;
        transition: opacity 800ms var(--ease-out);
    }

    >* {
        grid-area: card;
    }

    svg {
        position: relative;
        z-index: 1;
        width: 30%;
        height: auto;
        color: var(--surface-3);
        transition: 300ms var(--ease-out);
        transition-property: color, scale;
    }

    button {
        opacity: 0;
    }

    &:focus-within {
        outline: 5px auto Highlight;
        outline: 5px auto -webkit-focus-ring-color;
    }

    &:where(:hover, :focus-within) {
        border-color: var(--active-color, var(--fg));
        transition: border-color 800ms var(--ease-in-out);
    }

    &:where(:hover, :focus-within) svg {
        color: var(--active-color, var(--fg));
        scale: 1.1;
        transition: 300ms var(--ease-in-out);
    }

    &:where(:hover, :focus-within)::before {
        opacity: 0;
    }

    &:where(:hover, :focus-within)::after {
        opacity: 1;
    }
}
/* #endregion About */
/**/
/* #region FAQ */
.faq_container {
    width: 80%;
    gap: 20px;
}
.faq_item {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid var(--slate_light);;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
.faq_item:hover {
    cursor: pointer;
    border: 1px solid white;
}
.faq_item:hover .dropdown_toggle {
    color: white;
}
.dropdown_toggle {
    align-self: flex-start;
    justify-content: flex-start;
    background-color: black;
    color: var(--slate_light);;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
}
.dropdown_content {
    display: none;
    padding: 10px;
    border-left: 1px solid var(--slate_light);;
    width: 80%;
    text-align: start;
    margin-bottom: 10px;
}
.dropdown_content p {
    margin: 0px;
}
.dropdown_content.show {
    display: block;
}
.hover_detection {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* #endregion FAQ */
/**/
/* #region Logo */
.logo {
    width: 3rem;
    height: 3rem;
}
/* #endregion Logo */
/**/
/* #region Footer */
footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--slate_light);;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 0;
}
footer {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}
footer a {
    text-decoration: none;
}
footer p {
    background-color: black;
    z-index: 1;
    position: relative;
    width: 455px;
}
#tukyo_footer {
    color: #888888;
    pointer-events: all;
}
#tukyo_footer:hover {
    cursor: pointer;
    animation: rainbowCycle 4s linear infinite;
}
#tukyo_footer svg {
    width: 1rem;
    height: 1rem;
    transform: translateY(.125rem);
}
#tukyo_footer svg .cls-1 {
    fill: currentColor;
}
/* #endregion Footer */
/**/
/* #region Misc */
#scroll_prompt {
    position: absolute;
    text-align: center;
    font-size: clamp(12px, 1.15vw, 16px);
    color: var(--secondary-color);
    line-height: normal;
    bottom: 0;
    margin: 10px auto;
    transform: translateX(-50%);
    left: 50%;
}
#coin_canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#game_header {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
#game_rules {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#game_leaderboard {
    margin-top: 50vh;
}
/* #endregion Misc */
/**/
/* #region Responsive Design */
@media (max-width: 1460px) {
    #tokens {
        width: 90%;
    }
    section {
        width: 100%;    
    }
    #more_options_container {
        width: 100%;
    }
}
@media (max-width: 1090px) {
    #recycle_container {
        width: 80%;
    }   
}
@media (max-width: 1010px) {
    #home_container {
        width: 50%;
    }   
}
@media (max-width: 775px) {
    #recycle_container {
        width: 90%;
    }   
}
@media (max-width: 720px) {
    #tokens {
        width: 100%;
    }
    #recycle_container {
        width: 100%;
        margin-top: 60px;
    }
    #options {
        width: 100%;
    }
    #options {
        width: 80%;
    }
}
@media (max-width: 600px) {
    #tokens_body {
        font-size: small;
    }   
    #home_container {
        width: 70%;
    }
    .option {
        width: 90%;
    }
    .table_contract {
        width: 90%;
    }
    .about_container {
        width: 100%;
    }
}
@media (max-width: 540px) {
    thead {
        display: none;
    }
    tr {
        display: flex;
        flex-direction: column;
        width: 100px;
        justify-content: flex-start;
        padding: 10px;
        border: 1px solid var(--slate_light);;
        border-radius: 10px;
    }
    #tokens_table {
        table-layout: fixed;
    }
    #tokens_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 20px 0px;
    }
    #tokens_table td {
        padding: 0px;
        margin: 1px auto;
    }   
    .token_logo {
        width: 1.5rem;
        height: 1.5rem;
    }
    .default_logo {
        width: 1.5rem;
        height: 1.5rem;
    }
    .list_cell {
        max-width: 100px;
    }
    #process {
        margin: 0;
        width: 100%;
    }
    .loader {
        width: 1.25rem;
    }
    footer p {
        font-size: small;
        width: 380px;
    }
    #options {
        width: 100%;
    }
}
@media (max-width: 400px) {
    #threshold_input {
        width: 70%;
    }
}
@media (max-width: 390px) {
    h1 {
        font-size: 3.5rem;
    }
}
@media (max-width: 300px) {
    h1 {
        font-size: 3rem;
    }
    #start_button {
        width: 120%;
    }
}
/**/
    /* #region Hamburger Menu */
    @media (max-width: 640px) {
        nav ul {
            display: none;
        }
        #connect_button {
            display: none;
        }
        .logo {
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .hamburger_menu {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            justify-content: center;
            display: flex;
            align-items: center;
        }
        .hamburger_menu i {
            font-size: xx-large;
        }
        .hamburger_menu:hover {
            cursor: pointer;
            color: var(--main);
        }
        header {
            animation: none;
        }
        header.show {
            position: fixed;
            background-color: var(--slate);
            align-items: normal;
            flex-direction: column;
            gap: 4vh;
            height: 100vh;
            z-index: 100;
        }
        header.show nav ul {
            flex-direction: column;
            align-items: end;
            gap: 3vh;
            font-size: x-large;
            font-weight: 600;
            display: flex;
        }
        header.show #connect_button {
            position: absolute;
            bottom: 20px;
            left: 0px;
            width: 100vw;
            min-height: 60px;
            max-height: 60px;
            align-items: center;
            display: flex;
            border-radius: 0px;
        }
        header.show li {
            align-self: center;
            margin: 10px auto;
        }
    }
    /* #endregion Hamburger Menu */
/**/
/* #endregion Responsive Design */